.App {
  text-align: center;
}

.container-list {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.link {
  margin-right: 30px;
}
